<% obj.each do |article| %>
  <div class="row">
    <div class="col-md-2">
      <section class="player_info center">
        <%= gravatar_for(article.player, size: 120) %>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to article.name, article_path(article) %></h4>
      <p><%= truncate(article.description, length: 150) %></p>
      <% if article.tags.any? %>
        <p>Tags: <%= render article.tags %></p>
      <% end %>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(article.created_at) %> ago by <%= article.player.playername.capitalize %> | <%= pluralize(article.comments.count, 'Comment') %></small></span>
      </p> 
      <% if logged_in? && (current_player == article.player || !current_player.admin?) %>
        <div class="article-actions">
          <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-warning" %>
          <%= link_to "Delete this article", article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete this article?" }, class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>
      <div class="row">
        <div class="pull-right liking">
          <%= link_to like_article_path(article, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> 
          <% end %> <%= article.thumbs_up_total %> || 
          <%= link_to like_article_path(article, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down"></i>
          <% end %> <%= article.thumbs_down_total %>
        </div>
      </div>
    </div>
  </div>
<% end %>