<%= render 'shared/page_title', title: @article.name %>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Tekst: </strong></h4>
  <hr />
  <%= simple_format(@article.description) %>
  <hr />
  <div class="pull-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
      <%= link_to gravatar_for(@article.player), articles_path %>
    </p>
    <p class="center">
      <small><%= @article.player.playername %></small>
      <div class="pull-right">
        <%= time_ago_in_words(@article.created_at) %> ago
      </div>
    </p>
  </div>
  <div class="article-actions">
    <% if logged_in? && (current_player == @article.player  || !current_player.admin?) %>
      <%= link_to "Edit this article", edit_article_path(@article), class: 'btn btn-xs btn-warning' %>
      <%= link_to "Delete this article", article_path(@article), method: :delete,
                                      data: { confirm: "Are you sure you want to delete?" },
                                      class: "btn btn-xs btn-danger" %>
    <% end %>  
    <%= link_to "Return to articles listing", articles_path, class: "btn btn-xs btn-primary" %>
  </div>  
</div>